@import "bootstrap-sprockets";
@import "bootstrap";

.btn-download {
  @include button-variant($btn-default-color, #f8f8f8, $btn-default-border);
}

header {
  @extend .col-md-4;
}

section {
  @extend .col-md-8;
}

header ul {
  list-style:none;
  padding:0;
  li {
    @extend .btn;
    @extend .btn-download;
  }
}

header p.view {
  font-size: 1.5em;
}